@use 'App';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: App.$dark-teal;
    width: 100vw;
    height: 10vh;

    .menu-left {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70vw;

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    .menu-right {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 30vw;
        a {
            text-decoration: none;
            margin-right: 4em;
        }
    }
}